body{
  font-family: 'VT323';
  font-size: 30px;
  background: black;
  color: white;
}

.header {
  margin: 0 auto;
  width: 950px;
  padding: 50px 0;
}

.viewport {
  margin: 0 auto;
  height: 480px;
  width: 950px;
  overflow: scroll;
}

.name {
  line-height: 30px;
  vertical-align: top;
  padding:0;
  margin:0 1em;
}

.icon{
  vertical-align: baseline;
}

#playerInfo {
  text-align: left;
  list-style-type: none;
  display: block;
  li{
    display: inline;
  }
}

.info {
  display: block;
  width: 300px;
  float: left;
}

#inventory {
  list-style-type: none;
}

.inventory{
  display: inline-block;
  width: 400px;
  float: right;
  li {
    display: inline-block;
  }
}

.bank {
  float: left;
  margin-right: 50px;
}
