extends layout

block content
  div#viewport.viewport
    canvas#canvas
  script(src="javascripts/assets.js")  
  script(src="javascripts/game-api.js")
  script(src="javascripts/keymap.js")
  script(src="javascripts/game.js")
