block content
  link(href='https://fonts.googleapis.com/css?family=VT323|Press+Start+2P' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='/css/main.css')

  audio(src="audio/theme.m4a" autoplay loop)
  div.title
    h1 2D Game
  section.menu
    a(href="/game") New Game

