extends layout

block content
  div#viewport.viewport
    canvas#canvas
  div#textBox(class="textBox")  	
  script(src="javascripts/assets.js") 
  script(src="javascripts/levels.js") 
  script(src="javascripts/game-api.js")
  script(src="javascripts/keymap.js")
  script(src="javascripts/game.js")
