doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=VT323|Press+Start+2P' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')
  body
    header.header  
      div.info
        ul#playerInfo
      span#bank.bank 
        img(src='images/jewel.png')
        span  x 0  
      div#keys
        img(src="images/keyImg.png")
        span x 0
      span Inventory
      div.inventory
        ul#inventory  


    block content
