doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=VT323|Press+Start+2P' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/main.css')
  body
    span#bank 
      img(src='images/jewel.png')
      text  x 0  
    div.info
      ul#playerInfo
    div.inventory
      p Inventory
      ul#inventory  


    block content
